body {
    text-align: center;
    background-color: black;

}

#status {
    font-size: 50px;
    color:plum;
}

h2 {
    padding-top: 200px;
    font-size: 100px;
    color:white;
}

button {
    height: 60px;
    width: 90px;
    background-color: black;
    color: white;
    font-size: 30px;
}
